.title-wrapper{
	height: 200px;
	background-color: #404A54;
}
.title {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: white;
	padding-top: 50px;
}

.main-body-wrapper {
	background-color: #F3F5F6;
	height: 800px;
}

.intro {
	border-bottom: 1px solid #888;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

.description {
	text-align: center;
}

.description .main-text {
	text-align:left;
	margin-top: 25px;
}

.page-header {
	padding-bottom: 9px;
	margin: 40px 0px 20px;
	border-bottom: 1px solid #888;
}

.icon {
	width: 100px;
	height: 100px;
}

.box-grid{
	margin-top: 20px;
}

.temp {
	background-color: #404A54;
	border-radius: 20px;
	height: 250px;
	padding: -10px;
}